<% provide(:title, t('devise_registrations.registrations_title')) %>

<section class="content-header">
  <h1><i class="fa fa-user"></i> <%= t('devise_registrations.registrations_subtitle') %></h1>
</section>

<section class="content">
  <div class="row">
    <section class="col-lg-12">
      <div class="box box-info">
        <div class="box-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <% if resource.errors.full_messages.any? %>
              <div class="form-group">
                <div class="alert alert-danger">
                  <%= devise_error_messages! %>
                </div>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.text_field :fullname, class: 'form-control', placeholder: t('devise_registrations.full_name_placeholder'), autofocus: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :email, class: 'form-control', placeholder: t('devise_registrations.email_placeholder'), disabled: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :address, class: 'form-control', placeholder: t('devise_registrations.address_placeholder') %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="form-group text-right"><%= t('devise_registrations.waiting_confirmation_for') %>: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="form-group text-right">
                <em>(<%= t('devise_registrations.password_em_text') %>)</em><br />
                <%= f.password_field :password, class: 'form-control', placeholder: t('devise_registrations.password_placeholder'), autocomplete: "off" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: t('devise_registrations.password_confirmation_placeholder'), autocomplete: "off" %>
              </div>
              <div class="form-group text-right">
                <em>(<%= t('devise_registrations.current_password_em_text') %>)</em><br />
                <%= f.password_field :current_password, class: 'form-control', placeholder: t('devise_registrations.current_password_placeholder'), autocomplete: "off" %>
              </div>
              <div class="actions">
                <%= f.submit t('devise_registrations.update_profile_submit'), class: 'btn btn-block btn-info' %>
              </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
  <div class="row">
    <section class="col-lg-12">
      <div class="box box-info">
        <div class="box-header">
          <i class="fa fa-industry"></i> <%= t('devise_registrations.overview_title') %>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-5"><label><%= t('devise_registrations.role_label') %></label></div>
                <div class="col-sm-7">
                  <% if not current_user.nil? and not current_user.role.nil? %>
                    <%= current_user.role.label %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5"><label><%= t('devise_registrations.current_sign_in_at_label') %></label></div>
                <div class="col-sm-7"><%= current_user.current_sign_in_at %></div>
              </div>
              <div class="row">
                <div class="col-sm-5"><label><%= t('devise_registrations.last_sign_in_at_label') %></label></div>
                <div class="col-sm-7"><%= current_user.last_sign_in_at %></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-5"><label><%= t('devise_registrations.sign_in_count_label') %></label></div>
                <div class="col-sm-7"><%= current_user.sign_in_count %></div>
              </div>
              <div class="row">
                <div class="col-sm-5"><label><%= t('devise_registrations.current_sign_in_ip_label') %></label></div>
                <div class="col-sm-7"><%= current_user.current_sign_in_ip %></div>
              </div>
              <div class="row">
                <div class="col-sm-5"><label><%= t('devise_registrations.last_sign_in_ip_label') %></label></div>
                <div class="col-sm-7"><%= current_user.last_sign_in_ip %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="row">
    <section class="col-lg-12">
      <div class="box box-info">
        <div class="box-header">
          <i class="fa fa-times"></i> <%= t('devise_registrations.unhappy_label') %>
        </div>
        <div class="box-body">
          <%= button_to t('devise_registrations.cancel_my_account_label'), registration_path(resource_name), class: 'btn btn-block btn-danger', data: { confirm: t('confirm_are_you_sure_text') }, method: :delete %>
        </div>
      </div>
    </section>
  </div>
</section>
