<% provide(:title, t('devise_reset_password.reset_password_title')) %>
<%= render 'layouts/header_public' %>

<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <h3>
          <i class="fa fa-3x fa-info-circle"></i><br />
          <%= t('devise_reset_password.reset_password_subtitle') %><br /><br />
        </h3>
        <div class="col-lg-12 col-md-12 col-xs-12 form-area">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <div class="form-group text-left">
              <%= devise_error_messages! %>
            </div>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> <%= t('minimum_password_characters') %>)</em><br />
              <% end %>
              <%= f.password_field :password, class: 'form-control', placeholder: t('devise_reset_password.new_password_placeholder'), autofocus: true, autocomplete: "off" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, class: 'form-control', placeholder: t('devise_reset_password.confirm_new_password_placeholder'), autocomplete: "off" %>
            </div>
            <div class="actions">
              <%= f.submit t('devise_reset_password.change_my_password_submit'), class: 'btn btn-block btn-theme' %>
            </div>
          <% end %>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
          <br /><br />
        </div>
        <br />
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer_public' %>
