<% provide(:title, t('portal_users.change_user_password_title')) %>

<section class="content-header">
  <h1><i class="fa fa-exchange"></i> <%= t('portal_users.change_user_password_subtitle') %></h1>
</section>

<% if not @user_entry.nil? and not @user_entry.role.nil? and can_manage_role? @user_entry.role %>
  <section class="content">
    <div class="row">
      <section class="col-lg-12">
        <div class="box box-info">
          <div class="box-body">
            <%= render 'password_form', user_entry_button_title: t('change_password_title'), user_entry_object: @user_entry, user_entry_url: set_password_portal_user_path(@user_entry) %>
          </div>
        </div>
        <div id="users_edit_panel">
          <div class="panel panel-footer clearfix">
            <div class="pull-left section-list-panel-content">
              <%= link_to portal_users_path, class: "btn btn-info btn-sm", title: t('back_title') do %>
                <i class="fa fa-chevron-left"></i> <%= t('back_title') %>
              <% end %>
            </div>
            <div class="pull-right">
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
<% else %>
  <section class="content">
    <div class="row">
      <section class="col-lg-12">
        <div class="box box-danger">
          <div class="box-body">
            <h2 class="text-center"><i class="fa fa-exclamation-triangle"></i><br /> <%= t('access_denied_message') %></h2>
          </div>
        </div>
      </section>
    </div>
  </section>
<% end %>
